* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { 
    background-color: var(--background-primary);
}
.voltar {
    button {
    cursor: pointer;
    border: none;
    background-color: var(--background-primary);
}
}
header {
    text-align: center;
}
h1 {
    font: var(--title);
}
input {
    width: 451px;
    height: 44px;
    padding: 20px;
    border: 3px solid var(--border-primary);
    border-radius: 8px;
    font: var(--label);
}
input:hover {
    border: 3px solid var(--border-hover);
}
.add-product input:focus{
    outline: none;
    border: 3px solid var(--color-brand);
}
.add-product input:focus::placeholder {
    color: black;
}
.add-product button {
    width: 160px;
    height: 44px;
    padding: 10px 5px;
    font: var(--label);
    color: var(--always-white);
    background-color: var(--color-brand);
    border-radius: 12px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
}
.item {
    display: none;
}
.product-added {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: var(--background-secondary);
    border-radius: 10px;
    margin: 20px 0;
}
.hidden-checkbox {
    /* display: none; */
    cursor: pointer;
    width: 20px;
    height: 20px;
    
}
.custom {
    width: 20px;
    height: 20px;
    background-image: url(images/icons/state=Default.svg);
    background-size: cover;
    cursor: pointer;
    transition: backgroud-image 0.3s ease;
}
.custom:hover {
    background-image: url(images/icons/state=hover.svg);
}
.item input:checked + .custom{
    background-image: url(images/icons/state=selected.svg);
}
.item input {
    position: absolute;
    opacity: 0;
    width: 20;
    height: 20;
}
.text {
    padding-left: 10px;
    font: var(--label);
    color: var(--content-secondary);
    
}
.delete-btn {
    margin-left: auto;
    border: none;
    background: none;
    cursor: pointer;
}
.deleting-product {
    display: flex;
    padding: 10px 15px;
    font: var(--label);
    border-radius: 12px;
    border: none;
    margin-bottom: 20px;
    background-color: var(--color-danger);
    align-items: center;
}
.deleting-product span {
    color: var(--always-white);
}
.deleting-product button {
    cursor: pointer;
}
.deleting-btn {
    margin-left: auto;
    border: none;
    background-color: var(--color-danger);
}
.deleting {
    display: none;
}
